RFC1123 is incorrectly enforced


**What happened**:
A host with capital letters in its hostname was rejected with the message  
```
a DNS-1123 subdomain must consist of lower case alphanumeric characters, '-' or '.', and must start and end with an alphanumeric character (e.g. 'example.com', regex used for validation is '[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*')
```

**What you expected to happen**:
Hostnames with capital letters should be regarded as valid.

**How to reproduce it (as minimally and precisely as possible)**:
Define any hostname with capital letters.

**Anything else we need to know?**:
DNS-1123 does not mandate lower-case characters.  It defers to:

- RFC 952 ("No distinction is made between upper and lower case.")
- RFC 1034 ("By convention, domain names can be stored with arbitrary case, but domain name comparisons for all present domain functions are done in a case-insensitive manner, assuming an ASCII character set, and a high order zero bit.")
- RFC 1035 ("Note that while upper and lower case letters are allowed in domain names, no significance is attached to the case."). 

Note that RFC 2181 does not address letter casing at all.

Fixing this issue should be as simple as adding `A-Z` to ranges that contain `a-z` in the validation regex.  If the developers are receptive to this fix I can put together a pull request (PNNL has a CLA on file with CNCF).

**Environment**:
- Kubernetes version (use `kubectl version`):
```
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.1", GitCommit:"7879fc12a63337efff607952a323df90cdc7a335", GitTreeState:"clean", BuildDate:"2020-04-10T21:53:58Z", GoVersion:"go1.14.2", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.12", GitCommit:"e2a822d9f3c2fdb5c9bfbe64313cf9f657f0a725", GitTreeState:"clean", BuildDate:"2020-05-06T05:09:48Z", GoVersion:"go1.12.17", Compiler:"gc", Platform:"linux/amd64"}
```


@khm: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`
- `/committee <group-name>`

Please see the [group list](https://git.k8s.io/community/sig-list.md) for a listing of the SIGs, working groups, and committees available.


<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https://github.com/kubernetes/test-infra/issues/new?title=Prow%20issue:) repository.
</details>

/sig network

/triage unresolved

Comment `/remove-triage unresolved` when the issue is assessed and confirmed.

🤖 I am a bot run by vllry. 👩‍🔬

Thanks for the issue. 

See previous discussion, and the reasons the current behavior will not be changed, in https://github.com/kubernetes/kubernetes/issues/71140

This should be addressed/clarified in documentation to help avoid confusion in the future. 

/remove-kind bug
/kind documentation 

@liggitt: The label(s) `kind/` cannot be applied, because the repository doesn't have them

<details>

In response to [this](https://github.com/kubernetes/kubernetes/issues/94088#issuecomment-675800532):

>Thanks for the issue. 
>
>See previous discussion, and the reasons the current behavior will not be changed, in https://github.com/kubernetes/kubernetes/issues/71140
>
>This should be addressed/clarified in documentation to help avoid confusion in the future. 
>
>/remove-kind bug
>/kind documentation 


Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https://github.com/kubernetes/test-infra/issues/new?title=Prow%20issue:) repository.
</details>

If the intent is to maintain this behavior, the error messages should also be changed.  RFC 1123 is no longer driving to the validation, so the diagnostic messages should not mislead users into believing this specification is standards-based.

fair, it could be rephrased as "a lowercase RFC 1123 label" or something similar

@mattfenwick
If this issue has been triaged, please comment `/remove-triage unresolved`.

If you aren't able to handle this issue, consider unassigning yourself and/or adding the `help-wanted` label.

🤖 I am a bot run by vllry. 👩‍🔬

/remove-triage unresolved