API Server should return 4xx for JSON Patch operation that is not allowed instead of 200

<!-- This form is for bug reports and feature requests ONLY!

If you're looking for help check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/).

If the matter is security related, please disclose it privately via https://kubernetes.io/security/.
-->

**Is this a BUG REPORT or FEATURE REQUEST?**:

> Uncomment only one, leave it on its own line:
>
> /kind bug


**What happened**:
If you make an RFC6902 JSON Patch request to the server that contains an operation that is not allowed, for example adding an arbitrary property to a deployment.
The server returns the unchanged resource with a 200 OK.

**What you expected to happen**:

200 OK signals that all operations as stated by the client were applied successfully, which they were clearly not, as the returned object does not have the `arbitrary` property.

422 Unprocessible Entity seems the most appropriate here:

> Unprocessable request:  Can be specified with a 422 (Unprocessable
>       Entity) response ([RFC4918], Section 11.2) when the server
>       understands the patch document and the syntax of the patch
>       document appears to be valid, but the server is incapable of
>       processing the request.  This might include attempts to modify a
>       resource in a way that would cause the resource to become invalid;
>       for instance, a modification to a well-formed XML document that
>       would cause it to no longer be well-formed.  There may also be
>       more specific errors like "Conflicting State" that could be
>       signaled with this status code, but the more specific error would
>       generally be more helpful.

https://tools.ietf.org/html/rfc5789#section-2.2

**How to reproduce it (as minimally and precisely as possible)**:
PATCH a deployment with `ContentType: application/json-patch+json` and body
```json
[{"op": "add", "value": 123, "path": "/arbitrary"}]
```

**Anything else we need to know?**:

Related https://github.com/kubernetes/kubernetes/issues/68202, https://github.com/kubernetes/kubernetes/issues/68224, https://github.com/kubernetes/kubernetes/issues/54423, 

**Environment**:
- Kubernetes version (use `kubectl version`): v1.10.3
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release): macOS
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:


@felixfbecker: There are no sig labels on this issue. Please add a sig label.

<details>

A sig label can be added by either:

1. mentioning a sig: `@kubernetes/sig-<group-name>-<group-suffix>`
    e.g., `@kubernetes/sig-contributor-experience-<group-suffix>` to notify the contributor experience sig, OR

2. specifying the label manually: `/sig <group-name>`
    e.g., `/sig scalability` to apply the `sig/scalability` label

Note: Method 1 will trigger an email to the group. See the [group list](https://git.k8s.io/community/sig-list.md).
The `<group-suffix>` in method 1 has to be replaced with one of these: _**bugs, feature-requests, pr-reviews, test-failures, proposals**_

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https://github.com/kubernetes/test-infra/issues/new?title=Prow%20issue:) repository.
</details>

@kubernetes/sig-api-machinery-bugs

@felixfbecker: Reiterating the mentions to trigger a notification: 
@kubernetes/sig-api-machinery-bugs


<details>

In response to [this](https://github.com/kubernetes/kubernetes/issues/68225#issuecomment-418387496):

>@kubernetes/sig-api-machinery-bugs


Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https://github.com/kubernetes/test-infra/issues/new?title=Prow%20issue:) repository.
</details>

/assign @jennybuckley 

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Send feedback to sig-testing, kubernetes/test-infra and/or [fejta](https://github.com/fejta).
/lifecycle stale

Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Send feedback to sig-testing, kubernetes/test-infra and/or [fejta](https://github.com/fejta).
/lifecycle rotten

/remove-lifecycle rotten

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Send feedback to sig-testing, kubernetes/test-infra and/or [fejta](https://github.com/fejta).
/lifecycle stale

Once you submit a semantically valid patch, the server response is identical in behavior to fetching the object, applying the patch yourself, then submitting the resulting JSON as an update. Unknown fields are dropped by the API server on update

/close

@liggitt: Closing this issue.

<details>

In response to [this](https://github.com/kubernetes/kubernetes/issues/68225#issuecomment-485212785):

>Once you submit a semantically valid patch, the server response is identical in behavior to fetching the object, applying the patch yourself, then submitting the resulting JSON as an update. Unknown fields are dropped by the API server on update
>
>/close


Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https://github.com/kubernetes/test-infra/issues/new?title=Prow%20issue:) repository.
</details>