validation: Service rejects externalName with trailing dot

**What happened**:

The externalName of a Service is not allowed to end with a trailing dot.

**What you expected to happen**:

The externalName of a Service should allow a trailing dot. This is very useful to denote a fully qualified value of the CNAME record created by the service and prevent DNS-trial-and-error by appending different (cluster-local) search domains.

**How to reproduce it (as minimally and precisely as possible)**:

Try to set `example.com.` as a externalName for a Service of type ExternalName.

**More details**

The reference reads: `Must be a valid RFC-1123 hostname (https://tools.ietf.org/html/rfc1123)`
RFC-1123 section 6.1.4.3 also states:
```
            (a)  There MUST be some convention for denoting that a name
                 is already complete, so that the abbreviation method(s)
                 are suppressed.  A trailing dot is the usual method.
```
Also in the errata of RFC-1123 a reference to RFC-1034 is added to reiterate on what a legal hostname is. Section 3.1 of RFC-1034 explains the use and validity of a trailing dot.

So while one could argue that a valid RFC-1123 subdomain may have a trailing dot, it might still be best to not change the `ValidateDNS1123Subdomain` which is used in a lot of places, but instead change the Service.spec.externalName validation locally.



**Anything else we need to know?**:

I'll send a PR.

**Environment**:
- Not much applicable.

@thz: There are no sig labels on this issue. Please add a sig label by either:

1. mentioning a sig: `@kubernetes/sig-<group-name>-<group-suffix>`
    e.g., `@kubernetes/sig-contributor-experience-<group-suffix>` to notify the contributor experience sig, OR

2. specifying the label manually: `/sig <group-name>`
    e.g., `/sig scalability` to apply the `sig/scalability` label

Note: Method 1 will trigger an email to the group. See the [group list](https://git.k8s.io/community/sig-list.md).
The `<group-suffix>` in method 1 has to be replaced with one of these: _**bugs, feature-requests, pr-reviews, test-failures, proposals**_.


<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https://github.com/kubernetes/test-infra/issues/new?title=Prow%20issue:) repository.
</details>

/sig network

/triage unresolved

Comment `/remove-triage unresolved` when the issue is assessed and confirmed.

🤖 I am a bot run by vllry. 👩‍🔬